
.container {
  display: flex;
  flex-direction: column; 
  height: 100vh;
  background-color: white;
}


.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto; 
}

.imageSection p {
  color: black; 
}


.workoutsTable {
  width: 100%; 
  border-collapse: collapse;
}

.workoutsTable th,
.workoutsTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  color: black; /* Ensure table text color is black */
}

.workoutsTable tr:hover {
  background-color: lightgrey; /* Change to your desired light grey color */
}


.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.inactiveButton {
  background-color: grey;
  color: white;
  cursor: not-allowed;
}

.activeButton {
  background-color: #0070f3;
  color: white;
}


.buttonContainer {
  margin: 20px 0;
  text-align: center; 
}

.imageSection {
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 40px 0;
}

.image {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  border: 1px solid #ccc;
}


.tableContainer input[type="checkbox"] {

  width: 20px; 
  height: 20px;
  cursor: pointer; 
  accent-color: #0070f3; 
}


.tableContainer input[type="checkbox"]:not(:checked) {
  background-color: rgba(205, 191, 191, 0.1); 
  border: 1px solid #ccc; 
}


.tableContainer input[type="checkbox"]:checked {
  background-color: #0070f3; 
}

.description {
  max-width: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30vh;
  color: black;
  margin: 0 auto;
}